@use "./reset.scss" as *;
@use "./variable.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100dvh;
}

@font-face {
  font-family: "Playfair";
  src: url("../assets/font/playfair/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype-variations");
  src: url("../assets/font/playfair/PlayfairDisplay-VariableFont_wght.ttf") format("truetype")
    tech("variations");
  font-weight: 400 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("../assets/font/playfair/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  src: url("../assets/font/playfair/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype") tech("variations");
  font-weight: 400 900;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/font/inter/Inter-VariableFont.ttf") format("truetype-variations");
  src: url("../assets/font/inter/Inter-VariableFont.ttf") format("truetype") tech("variations");
  font-weight: 100 900;
}

@mixin shadow-light-mixin($color) {
  box-shadow:
    0 4px 12px -6px #47260b0f,
    0 3px 8px -4px #47220b0f,
    0 2px 6px -3px #471a0b0a,
    0 1px 4px -2px #47240b08,
    0 1px 3px -1px #47210b05,
    0 1px 2px 0 #47290b03,
    inset 0 -1px 0 1px $color,
    inset 0 1px 2px -1px #ffffff52;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.4em;
  font-weight: bold;
  line-height: 1.3;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: theme("colors.secondary.800");
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-secondary-900;
  }

  a {
    @apply text-sm text-primary-800 hover:text-primary-900;
  }
}

@layer utilities {
  .ocapiat-primary-color {
    color: #de6215;
  }

  .img-icon {
    @include shadow-light-mixin(#b9b9b93d);
  }
}

@layer components {
  .btn-base {
    @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md border text-sm font-medium transition-colors focus:bg-gray-800 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;

    @include shadow-light-mixin(theme("colors.primary.700"));
  }
}

